<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>房屋訊息</webname>
  <webcompany>房屋訊息</webcompany>
  <weburl>0669FF8ADCE71B5C3244DD05A646DBE0</weburl>
  <webtel>13800138000</webtel>
  <webfax>-</webfax>
  <webmail>info@it134.cn</webmail>
  <webcrod>粵ICP備11064298號</webcrod>
  <webtitle>房屋訊息</webtitle>
  <webkeyword>房屋訊息</webkeyword>
  <webdescription>房屋訊息</webdescription>
  <webcopyright>Copyright@2007-2013 by Addcn Technology Co;Ltd ALL Rights Reserved</webcopyright>
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <webstatus>1</webstatus>
  <webclosereason>網站正在維護中，請稍候訪問……</webclosereason>
  <webcountcode>&lt;script src="http://s24.cnzz.com/stat.php?id=1996164&amp;web_id=1996164&amp;show=pic" language="JavaScript"&gt;&lt;/script&gt;</webcountcode>
  <staticstatus>0</staticstatus>
  <staticextension>html</staticextension>
  <memberstatus>1</memberstatus>
  <commentstatus>0</commentstatus>
  <logstatus>1</logstatus>
  <emailstmp>smtp.gmail.com</emailstmp>
  <emailport>587</emailport>
  <emailfrom>empro0821@gmail.com</emailfrom>
  <emailusername>empro0821@gmail.com</emailusername>
  <emailpassword>admin888</emailpassword>
  <emailnickname>帝光房屋</emailnickname>
  <attachpath>upload</attachpath>
  <attachextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt</attachextension>
  <attachsave>2</attachsave>
  <attachfilesize>51200</attachfilesize>
  <attachimgsize>10240</attachimgsize>
  <attachimgmaxheight>0</attachimgmaxheight>
  <attachimgmaxwidth>0</attachimgmaxwidth>
  <kindmaxheight>640</kindmaxheight>
  <kindgmaxwidth>800</kindgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <watermarktype>0</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>動力啟航</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <templateskin>green</templateskin>
  <sysdatabaseprefix>dt_</sysdatabaseprefix>
  <sysencryptstring>DTcms</sysencryptstring>
</siteconfig>