<?xml version="1.0" encoding="utf-8"?>
<Root>
  <!--HashKey-->
  <MerchantID>5294y06JbISpM5x9</MerchantID>
  <!--特店編號-->
  <merID>2000132</merID>
  <!--HashIV-->
  <TerminalID>v77hoKGq4kWxNNIS</TerminalID>
  <!--頁面跳轉同步返回分頁檔路徑-->
  <return_url>/api/payment/firstcode/return_url.aspx</return_url>
  <!--伺服器通知的分頁檔路徑-->
  <notify_url>/api/payment/firstcode/notify_url.aspx</notify_url>
</Root>